<header class="navbar navbar-expand-lg fixed-top header-css">
  <div class="container">
    <a class="navbar-brand" href="/"><%= title %></a>
    <nav class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-nav-scroll me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/nft" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Explore
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/nft">NFTs</a></li>
            <li><a class="dropdown-item" href="/market">Market</a></li>
            <li><a class="dropdown-item" href="/auction">Auction</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ranking
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Collection">Collection</a></li>
            <li><a class="dropdown-item" href="/TradeHistory">TradeHistory</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">What is NFT</a></li>
            <li><a class="dropdown-item" href="#">What is Crypto Wallet</a></li>
            <li><a class="dropdown-item" href="#">What is Gas Fee</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">FAQ</a></li>
            <li><a class="dropdown-item" href="#">Partners</a></li>
            <li><a class="dropdown-item" href="#">Blogs</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Dev-docs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create">Create</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            test
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contractTest">contractTest</a></li>
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
    </nav>
    <button class="btn btn-outline-secondary" id="connectWallet">Connect Wallet</button>
    <button class="btn btn-outline-secondary text-overflow-hide d-none" id="movePersonalPage"></button>
  </div>
</header>
