<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./html-head') %>
</head>
<body>
  <%- include('./header') %>
  <div class="row">
    <div class="col-3">
      sidebar
    </div>
    <div class="col-9">
      <%- body %>
    </div>
  </div>
  <%- include('./footer') %>
</body>
</html>