<div class="wrapper p-3">
  <button class="btn btn-primary" type="submit">Button1</button>
  <button class="btn btn-primary" type="submit">Button2</button>
  <button class="btn btn-primary" type="submit">Button3</button>
  <button class="btn btn-primary" type="submit">Button4</button>
  <button class="btn btn-primary" type="submit">Button5</button>
</div>
