<script>
window.onload = async function(){
  console.log(1)
}
  
let btn1 = document.getElementById("btn1");
btn1.addEventListener("click", e => {
  console.log("btn1")
})
let btn2 = document.getElementById("btn2");
btn2.addEventListener("click", e => {
  console.log("btn2")
})
let btn3 = document.getElementById("btn3");
btn3.addEventListener("click", e => {
  console.log("btn3")
})
let btn4 = document.getElementById("btn4");
btn4.addEventListener("click", e => {
  console.log("btn4")
})
let btn5 = document.getElementById("btn5");
btn5.addEventListener("click", e => {
  console.log("btn5")
})
</script>
<div class="wrapper p-3">
  <button class="btn btn-primary" type="submit" id="btn1">Button1</button>
  <button class="btn btn-primary" type="submit" id="btn2">Button2</button>
  <button class="btn btn-primary" type="submit" id="btn3">Button3</button>
  <button class="btn btn-primary" type="submit" id="btn4">Button4</button>
  <button class="btn btn-primary" type="submit" id="btn5">Button5</button>
</div>

